<!doctype html>
<html lang="en">
<head>
  <title>Exercise 12</title>
  <link rel= 'stylesheet' href='../static/form1.css'>
</head>
<body>
  <table>
    <form action='/submit' method = 'POST'>
      <tr>
        <td><label for = "Name">Name:</td>
        <td><input type = 'text' name=Name>
        </td>
      </tr>
      <tr>
        <td><label for = "Email">Email:</td>
        <td><input type = 'text' name=Email>
        </td>
      </tr>
      <tr>
        <td><label for = "Password">Password:</td>
        <td><input type = 'password' name=Password>
        </td>
      </tr>
      <tr>
        <td></td>
        <td align = right><input type="submit" value="Submit"></td>
      </tr>
    </form>
    
  </table>

</body>
</html>