<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link rel= 'stylesheet' href= '..\\static\\styles.css'>
<body>
    <table>
        <tr>
            <td>
                Currency
            </td>
            <td>
                Flag
            </td>
            <td>
                Conversion
            </td>
        </tr>
        {% for i in l2 %}
        <tr>
            <td> 
                {{i[0]}} ({{i[1]}})
            </td>
            <td>
                
                <img src= {{i[3]}} alt= "{{ i[1] }}" width="120" height="90" />
            </td>
            <td>
                {{i[-1]}}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>